/* Menu.module.css */
.navBar {
    background-color: #3f51b5;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-weight: bold;
    color: white;
    font-size: 24px;
    margin-right: auto;
  }
  
  .navLink {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navLink:hover {
    text-decoration: underline;
  }
  